{{#if hasData}}
    <div class="widget col-sm-12 col-md-12 col-xs-12 {{!--bootstrap-col-helper renderMatrix--}}
        {{#each classes}}
            {{this}}
        {{/each}}">
        <div class="panel panel-default">

            <div class="panel-heading">

                <h3 class="panel-title"><i class="fa fa-bar-chart fa-fw"></i>
                    {{#if _render.xs.title}}
                        {{#each @root.sizes}}
                            <span class="visible-{{this}}-inline">
                                {{get ../_render this "title"}}
                            </span>
                        {{/each}}
                    {{else}}
                        {{title}}
                    {{/if}}</h3>

            </div>

            <div class="panel-body">
                <div class="statlet">
                    <div class="ct-chart"></div>
                   <!-- <div class="ct-legend row">
                        <div class="center{{#unless @root.shouldShowLegend}} hidden{{/unless}}">
                            {{#each @root.labels}}
                                <div class=" ct-legend-serie col-sm-3 col-xs-6 col-md-3 col-lg-3 ct-legend-serie-{{this.charIndex}}">
                                    <span class="active ct-series-{{this.charIndex}}"><i class="fa fa-square"> </i><span>{{this.value}}</span></span>
                                </div>
                            {{/each}}
                        </div>
                    </div>-->

                </div>
            </div>

        </div>

        {{#each _render.values.show-more}}
            <div class="show-more visible-{{@key}}">
                <a href="{{addContextPath ""}}{{tmpl this ../variables}}" class="show-more">Show more</a>
            </div>
        {{/each}}
    </div>

    </div>

{{/if}}

